:root {
    --primary-color: #003A70;
    --primary-color-low: #3D7DCA;
    --second-color: #FFCB05;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(24, 4, 179);
}

.control-container {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

.card-img {
    align-self: center;
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

.card>img {
    max-width: 150px;
    max-height: 150px;
    align-self: center;
}

.view {
    height: 100vh;
    width: 100%;
    background-image:url("https://wallpaperaccess.com/full/20996.jpg");  
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    
}

.mask {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-inline {
    align-items: center;
    justify-content: center;
}

.white-text {
    color: white;
}

#carouselExampleIndicators {
    min-width: 100%;
}

.top-nav-collapse {
    background-color: #563e91 !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

.main-content .card {
    align-self: center;
    max-height: 25%;
}

.card-body > h3 {
    font-size: medium;
}

.rgba-gradient {
    background: -moz-linear-gradient(90deg, rgba(2,0,36,0.7) 0%, rgba(9,9,121,0.7) 65%, rgb(24, 4, 179) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,0.7) 0%, rgba(9,9,121,0.7) 65%, rgb(24, 4, 179) 100%);
    background: linear-gradient( 180deg, rgba(2,0,36,0.7) 0%, rgba(9,9,121,0.7) 65%, rgb(24, 4, 179) 100%);
}